*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}


header{
    background-color:rgb(247, 150, 231);
    height: 100px;
}

footer{
    background-color: rebeccapurple;
    height: 50px;
}

div.lower div.section,div.section-head{
    background-color: paleturquoise;
}

div.section-body .s_aside{
    width: calc(20% - 20px);
}

div.lower{
    background-color: rgb(65, 65, 219);
}


.float-left{
    float:left;
}

.properties{
    width: 1200px;
    margin: 20px auto;
}
.upper{
    background-color: rgb(241, 241, 150);
    height: 400px;
}


.section-head{
    height:70px;
    margin-bottom:30px;
}

.s_body{
    width:60%;
    margin:0 20px;
}

.section{
    height:500px;
    margin-bottom: 20px;

}


